<h3 class="text-center m-5">To add a product, please complete the following fields</h3>
<div class="container">
    <form id="create-form">
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input class="form-control" id="title">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input class="form-control" id="description">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input class="form-control" id="price">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Code</label>
            <div class="col-sm-10">
                <input class="form-control" id="code">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Stock</label>
            <div class="col-sm-10">
                <input class="form-control" id="stock">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <input class="form-control" id="category">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <input class="form-control" id="status">
            </div>
        </div>
        <div class="text-center m-5">
            <button type="submit" class="btn btn-primary">Create product</button>
        </div>
    </form>
    <hr>
    <h3 class="text-center">To remove a product, enter the product id</h3>
    <div class="container">
    <form id="delete-product">
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Product id</label>
            <div class="col-sm-10">
                <input class="form-control" id="id">
            </div>
        </div>
        </div>
        <div class="text-center m-5">
            <button type="submit" class="btn btn-primary">Delete product</button>
        </div>
    </form>
    <hr>
<h3 class="text-center m-5">To update a product, please complete the following fields</h3>
<div class="container">
    <form id="update-form">
        <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Product id</label>
            <div class="col-sm-10">
                <input class="form-control" id="idUpdate">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input class="form-control" id="titleUpdate">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                <input class="form-control" id="descriptionUpdate">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                <input class="form-control" id="priceUpdate">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Code</label>
            <div class="col-sm-10">
                <input class="form-control" id="codeUpdate">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Stock</label>
            <div class="col-sm-10">
                <input class="form-control" id="stockUpdate">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-10">
                <input class="form-control" id="categoryUpdate">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <input class="form-control" id="statusUpdate">
            </div>
        </div>
        <div class="text-center m-5">
            <button type="submit" class="btn btn-primary">Update product</button>
        </div>
    </form>
</div>

<script src="/js/main.js"></script>