<div class="py-8 py-lg-18">
    <div class="container">
        <div class="row mb-6 align-items-center justify-content-center">
            <div class="col-md-10">
                <div class="row align-items-center ">
                    <div class="col-xl-6 col-lg-7 col-md-12 col-12 order-1 text-center text-lg-start ">
                        <!-- caption -->
                        <span class="text-primary m-3 d-block text-uppercase fw-semibold ls-xl">Profile</span>
                        <h4 class="mb-2 display-4 fw-bold mb-3">Name: <span class="text-primary">{{firstName}}</span>
                        </h4>
                        <h4 class="mb-2 display-4 fw-bold mb-3">Last name: <span class="text-primary">{{lastName}}</span>
                        </h4>
                        <!--
                        {{#if admin}}
                            <h4 class="mb-2 display-4 fw-bold mb-3 text-danger">Administrator
                            </h4>
                        {{/if}}
                        -->
                        <div class="row">
                        <hr class="my-3">
                            <a href='/logout' class="btn btn-primary btn-sm">LOGOUT</a>
                        </div>
                    </div>
                    <!-- Img -->
                    <div class="offset-xl-1 col-xl-5 col-lg-5 col-12 mb-6 mb-lg-0 order-lg-2 text-center ">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" width="250" height="250"alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




